fastapi
uvicorn

sounddevice
soundfile

torch

# sentence-transformers
dotenv

protobuf>=5.29.5
grpcio>=1.73.1  

# Support Packages
python-dotenv>=1.1.1  # For .env configuration
requests>=2.32.4  # HTTP requests
pydantic>=2.11.7  # Data validation